{% extends "fileapp/base.html"%}


{% block content %}

    {% for file in files%}
        <article class="media content-section">
            <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ file.date_uploaded }}</small>
            </div>
            <h2><a class="article-title" href="#">{{ file.title }}</a></h2>
            <p class="article-content">{{ file.description }}</p>
                <div class="float-right">
                    <button class="btn btn-light"><i class="fa fa-paper-plane"></i> | send</button>
                    <button class="btn btn-light"><i class="fa fa-file"></i> | Preview</button>
                    <a href="{% url 'download' file.id %}">
                      <button class="btn btn-dark">
                        <i class="fa fa-download"></i>|Download
                      </button> 
                    </a> 
                </div>
                </div>
              </div>
            </div>
           
        </article>
    {% endfor %}

{%endblock content%}
